{% extends "base.html" %}

{% block title %}Evaluations{% endblock %}

{% block content %}
    <div class="welcome message" align="center">
        <h1>Welcome to your dashboard!</h1>
        <a href="{% url 'students' %}">Home</a>
    </div>
    <div align="center">
        <p>
            Here are your current grades, arranged by subject:
        </p>
        <h2>Grades</h2>
        <ul>
            {% for detail in StudentDetails %}
                <li>
                    {{ detail.student }} {{ detail.subject }} {{ detail.grade }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}